/**********  Universal Style  ********/

* {
  box-sizing: border-box;
}

/**********  Base Layout Styles  ********/

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4D78AF;
}

body {
  font-family: 'Roboto Slab', serif;
  color: darkslategray;
  margin: auto;
  background: #ffdd9e;

}

h4,
h1 {
  font-family: 'Bree Serif', serif;
}

h3 {
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

ul  {
  list-style-type: none;
  padding: 0;
}


hr {
  color: grey;
}

.container {
  background: white;
}

.portfolio-image {
  max-width: 100%;
}

.card {
  text-align: center;
  display: inline-block;
}

.contact-info {
  text-align: center;
}

#contact-header {
  text-transform: uppercase;
  font-size: 1rem;
}

#portfolio-heading {
  text-transform: uppercase;
}

/**********  Link Styles  ********/

a:hover {
  color: lightcoral;
}

a:visited {
  color: #509EC9;
}

.main-nav a:hover {
  color: lightcoral;
}


/**********  Float Clearfix  ********/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/**********  Media Queries  ********/

@media (min-width: 320px) and (max-width: 767px) {

  h1 {
    text-align: center;
  }

  hr {
    margin: 0 3% 0 3%;
  }

  #profile-img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
   }

   #portfolio-heading {
     padding: 45px 0 35px;
   }

  .main-header {
    padding-bottom: 35px;
    text-align: center;
  }

  .intro {
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 35px;
    font-size: 1.13rem;
  }

  .main-nav a {
    text-align: center;
  }

  .main-nav li {
    margin-top: 5px;
    background: white;
  }

  .main-nav,
  .container2,
  .container {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .card {
    padding-bottom: 35px;
  }

  .card p {
    padding: 3% 5%;
    font-size: 1.06rem;
  }

  .contact-info {
    padding: 30px 2.5%;
  }

 .footer-nav {
   display: none;
 }

 .footer-name {
   float: left;
   padding-bottom: 6px;
   margin: 0 0 5% 2.5%;
 }

 #to-top {
   float: right;
   margin: 0 2.5% 5% 0;
   padding-bottom: 6px;
 }


}

@media (min-width: 768px) and (max-width: 1023px) {

  h1 {
    text-align: center;
    padding: 20px 0;
  }

  .intro {
    text-align: left;
    font-size: 1.4rem;
  }

  #profile-img {
    width: 35%;
    float: right;
    margin: 0 auto;
   }

  .main-header,
  .container2,
   .container {
     margin-left: 3%;
     margin-right: 3%;
  }

  .container {
    height: 1220px;
  }

  #portfolio-heading {
    padding: 35px 0;
  }

  .card {
    float: left;
    height: 360px;
    width: 49%;
    margin: auto;
    padding-bottom: 30px;
  }

  .outro {
    margin: 0 25% 0 25%;
  }

  .footer-nav li {
    display: inline;
    margin-right: 3%;
  }

  .footer-nav ul {
    padding-left: 73%;
  }

  .footer-name {
    float: left;
    margin-top: 0;
    padding-bottom: 20px;
  }

  #to-top {
    display: none;
  }

}
