/**********  Universal Style  ********/

* {
  box-sizing: border-box;
}

/**********  Base Layout Styles  ********/

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #4D78AF;
}

body {
  font-family: 'Roboto Slab', serif;
  color: darkslategray;
  margin: auto;
  background: #ffdd9e;

}

h4,
h1 {
  font-family: 'Bree Serif', serif;
}

h2,
h3 {
  text-align: center;
  text-transform: uppercase;
}

ul  {
  list-style-type: none;
}


hr {
  color: grey;
}

.container {
  background: white;
}

.portfolio-image {
  max-width: 100%;
}

.card {
  text-align: center;
}

.contact-info {
  text-align: center;
}

/**********  Link Styles  ********/

a:hover {
  color: lightcoral;
}

a:visited {
  color: #509EC9;
}


/**********  Float Clearfix  ********/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/**********  Media Queries  ********/

@media (min-width: 320px) and (max-width: 767px) {

  h1 {
    text-align: center;
  }

  hr {
    margin: 0 3% 0 3%;
  }

  #profile-img {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
   }

   #portfolio-heading {
     padding: 45px 0 35px;
   }

  .main-header {
    padding-bottom: 35px;
    text-align: center;
  }

  .intro {
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 35px;
  }

  .container {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .card {
    padding-bottom: 35px;
  }

  .card p {
    padding: 3% 5%;
    font-size: 1.06rem;
  }

  .contact-info {
    padding: 30px 2.5%;
  }


 .footer-nav {
   display: none;
 }

 .footer-name {
   float: left;
   padding-bottom: 6px;
   margin: 0 0 5% 2.5%;
 }

 #to-top {
   float: right;
   margin: 0 2.5% 5% 0;
   padding-bottom: 6px;
 }


}

@media (min-width: 768px) and (max-width: 1023px) {






}
